.label-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    &__checkbox {
            position: absolute;
            appearance: none;
            outline: rgba(0, 0, 0, 0);
        }
    &__icon {
        margin-right: 8px;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        background-size: contain;
        background-origin: border-box;
        cursor: pointer;
        transition: border-color var(--transition-timing) var(--transition-function);
    }
    &__link {
        text-decoration-line: underline;
        display: inline;
        color: var(--accent-color);
    }
}
.label-policy__checkbox:checked+.label-policy__icon {
    border: none;
    background-size: contain;
    background-origin: border-box;
    background-color: var(--accent-color-background);
    background-image: url(../images/icon\ check.svg);
}

.label-policy__checkbox:focus+.label-policy__icon {
    border-color: var(--accent-color);
}

.checkbox-text {
    text-align: center;
}

