.button {
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    min-width: 216px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    &:hover,:focus {
            box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
            background-color: #008cff;
        }
    
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        margin-left: 10px;
        fill: var(--primary-white-color);
    }
}