.section__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}