.contact {
    display: flex;
    margin-left: auto;
    & .item+.item {
            margin-left: 50px;
    
        }
    &__link {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color var(--transition-timing) var(--transition-function),
            background-color var(--transition-timing) var(--transition-function);
        &:hover, :focus {
                color: var(--accent-color);
            }
    }
       &__svg {
        margin-right: 8px;
        transition: transform var(--transition-timing) var(--transition-function);
        &:hover, :focus {
                color: var(--accent-color);
            }
    }
    
}

